# use glob syntax.
syntax: glob

*.bat
*.elc
*.pyc
*~
*.log
*.zip
*.doctrees
tmp
default.db
media
docs/api/lino_cosi.*


*.egg-info
.build
.DS_Store

sihtnumbrid.csv
.idea
.coverage
.eggs/
